# 5 different functions of strings in python

# 1 string replace

In [1]:
lang="Hello Selenium"
print(lang.replace("selenium","python"))

Hello Selenium

# 2 string reverse

In [3]:
lang="python"
print(''.join(reversed(lang)))

nohtyp

# 3 string join

In [4]:
s1="ABC"
s2="123"
print(s1.join(s2))

1ABC2ABC3

# 4 string split

In [5]:
text="welcome to python"
print(text.split())

['welcome', 'to', 'python']

#  5 string length

In [6]:
text="python"
print(len(text))

6

# 6 string compare

In [7]:
s1="python"
s2="python"
if(s1==s2):
    print("both strings are equal")

both strings are equal

# 5 different functions of list object in python.

# 1 append

In [8]:
List=['Mathematics','chemistry',1997,2000]
List.append(20544)
print(List)

['Mathematics', 'chemistry', 1997, 2000, 20544]

# 2 insert()

In [9]:
List=['Mathematics','chemistry',1997,2000]
List.insert(2,10087)
print(List)

['Mathematics', 'chemistry', 10087, 1997, 2000]

# 3 extend()

In [11]:
List1=[1,2,3]
List2=[2,3,4,5]
List1.extend(List2)
print(List1)
List2.extend(List1)
print(List2)

[1, 2, 3, 2, 3, 4, 5]
[2, 3, 4, 5, 1, 2, 3, 2, 3, 4, 5]

# 4 sum

In [12]:
List=[1,2,3,4,5]
print(sum(List))

15

# 5 count

In [13]:
List=[1,2,3,1,2,1,2,3,4,7,1,3,1]
print(List.count(1))

5

# 3.  5 experiment atleast 5 default functions of dictionary

# 1. type

In [14]:
MLB_team=dict(colorado='Rockies',
             Boston='Red Sox',
             Minnesota='Twins',
             Milwaukee='Brewers',
             Seattle='Mariners')
type(MLB_team)

dict

In [15]:
MLB_team=dict(colorado='Rockies',
             Boston='Red Sox',
             Minnesota='Twins',
             Milwaukee='Brewers',
             Seattle='Mariners')
MLB_team

{'colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners'}

# 2 Accessing

In [16]:
MLB_team=dict(colorado='Rockies',
             Boston='Red Sox',
             Minnesota='Twins',
             Milwaukee='Brewers',
             Seattle='Mariners')
MLB_team['Minnesota']

'Twins'

In [19]:
MLB_team=dict(colorado='Rockies',
             Boston='Red Sox',
             Minnesota='Twins',
             Milwaukee='Brewers',
             Seattle='Mariners')
MLB_team['colorado']

'Rockies'

# 3 Adding

In [20]:
MLB_team['Kansas City']='Royals'
MLB_team

{'colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

# 4 update

In [21]:
MLB_team['Seattle']='Seashells'
MLB_team

{'colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seashells',
 'Kansas City': 'Royals'}

# 5 Deleting

In [22]:
del MLB_team['Seattle']
MLB_team

{'colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}